name: Scrape and Save HTML

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest
    env:
      SCRAPE_URL: "https://temp-number.com/temporary-numbers/Canada/12262433061/1"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: pip install -r requirements.txt

      - name: Run scraper every 10 seconds
        run: |
          while true; do
            python scrape.py
            sleep 10
          done
